.straightAheadActionAndPoseToPose .shape.a {
  left: calc(50% - 8em);
  animation: four 6s infinite cubic-bezier(.57,-0.5,.43,1.53);
}

.straightAheadActionAndPoseToPose .shape.b {
left: calc(50% + 8em);
animation: four 6s infinite steps(1);
}

@keyframes four {
  0%, 10% {
    transform: none;
  }
  26%, 30% {
    transform: rotateZ(-45deg) scale(1.25);
  }
  40% {
    transform: rotateZ(-45deg) translate(2em, -2em) scale(1.8);
  }
  50%, 75% {
    transform: rotateZ(-45deg) scale(1.1);
  }
  90%, 100% {
    transform: none;
  }
}
